.main-wrapper{
    width: 700px;
    margin: 50px auto;

}

.progress {
    position: relative;
    width: 500px;
    height: 10px;
    border-radius: 4px;
    background-color: gray;
}

.progress-bar {
    height: 100%;
    background-color: rgb(55, 83, 247);
}

.progress-circle {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);

    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: rgb(17, 50, 240);

    cursor: pointer;
    visibility: hidden;
}

.progress:hover .progress-circle{
    visibility: visible;
}